@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
}

.full-website-bg {
  background: url("../images/bg.png") no-repeat center;
  position: relative;
  background-size: cover;
}

/* Log in page bar*/

.login-page-bg {
  position: relative;
  width: 503px;
  height: FIT-CONTENT;
  margin: 0px auto;
  padding: 43px;
  margin-top: 46px;
  background: rgba(248, 241, 186, 0.94);
  box-shadow: 0px 2px 0px 1px #cb9d23;
  border-radius: 77px;
  margin-top: 8%;
}

.submit-btn {
  width: 148px;
  height: 50px;
  background: #1F3F25;
  border-radius: 67px;
  border-color: #1F3F25;
  margin-left: 134px;
}

.submit-btn:hover {
  transform: scale(1.2);
  background: transparent;
  border: 1px solid #1F3F25;
  color: #1F3F25;
  font-weight: bolder;
  border-color: #1F3F25;

}

.login-logo {
  width: 18%;
  position: relative;
  margin: 0px auto;
  margin-left: 170px;
  padding-bottom: 24px;
}

.login-title {
  position: relative;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 27px !important;
  color: #265630;
}

.ur {
  font-family: 'Jameel Noori Nastaleeq', serif !important;
}

#InputEmail,
#InputPassword,
#inputFullName,
#InputPassword2,
#InputCity {
  box-sizing: border-box;
  position: relative;
  background-color: transparent !important;
  background: transparent !important;
  border: 1px solid #000000;
  border-radius: 15px;
}

/* Navigation bar */
nav {
  background: transparent;
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 1;
  display: flex;
}

label.logo a {
  color: #F8F1BA;
  font-size: 35px;
  line-height: 80px;
  margin-left: 5rem;
  font-weight: bold;
}

/* label img{
  size: 1px;
  padding-left: 2px;
} */
nav ul {
  margin: 0px auto;
}

nav li {
  display: inline-block;
  line-height: 80px;
  margin: 0 8px;
}

nav a {
  color: #F8F1BA;
  font-size: 17px;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}

nav .login,
nav a:hover {
  /* border: 1px solid white; */
  /* border-radius: 18px; */
  text-shadow: #F8F1BA;
  box-shadow: #F8F1BA;
  font-size: 17px;
  font-weight: bold;
  /* background: white; */
  color: white;
  padding: 8px 14px;
  transition: 0.1s;
}

nav #icon {
  color: white;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

.nav-bg1 {
  margin-top: 9%;
}

#alrt {
  position: relative;
  MARGIN-top: 8%;
}
@media (max-width: 1024px){
.alert{
  padding: 2.25rem 1.25rem !important;
}
#alrt {
  MARGIN-top: 19%;
}
}

.log_btns {

  float: right;
  margin-right: 20px;


}

.log_btns button {
  background: transparent;
  border-color: #F8F1BA;
  color: #F8F1BA;
  padding: 6%;
  border-radius: 7px;
  width: 93px;
}

nav div {
  margin: 11px 76px 12px 0px;
}

.nav-bg {
  background: #0000008C;
  /* position: relative; */
  position: fixed;
  top: 0;
  width: 100%;
}



/* banner */
.homepage {
  display: flex;
  align-items: center;
  margin-top: -80px;
  background: url(../images/bg.png) no-repeat center;
  background-size: cover;
  height: 964px;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.subtitle {
  margin-top: -417px;
  position: absolute;
  margin-left: 40%;
  color: wheat;
}

.title {
  margin-right: 20px;
}

.ur .title {
  text-align: right;
}

h1.title {
  font-family: Montserrat;
  color: white;
  font-size: 60px;
  font-weight: 700;
  padding-left: 7rem;
  padding-top: 8rem;
  line-height: 1;
  margin-top: 10%;
}

.about {
  background: url("../images/bg2.png") no-repeat center;
  background-size: cover;
  display: flex;
  background-size: cover;
  flex-direction: column;
}

.abt_title {
  font-family: Montserrat;
  font-size: 60px;
  font-weight: 700;
  padding-left: 7rem;
  padding-top: 8rem;
  line-height: 1;
}

.about img {
  width: 50%;
  margin: 0px auto;
}

.about h1 {
  size: 60px;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about p {
  font-size: 20px;
  width: 60%;
  padding: 1%;
  margin: 0px auto;
  text-align: center;
  white-space: break-spaces;
}

.contact_us {
  background: url("../images/bg.png") no-repeat center;
  background-size: cover;
  display: flex;
  background-size: cover;
  flex-direction: column;

}

.contact_us img {
  width: 80%;
  margin: 30px auto;
  margin-left: 10%;
  border-radius: 100%;
  background-color: lightgray;
}

.contact_us h1 {
  size: 60px;
  color: wheat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10%;
}

.contact_us h3 {
  size: 60px;
  color: #265630;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10%;
}

.contact_us p {
  font-size: 20px;
  width: 60%;
  padding: 1%;
  margin: 0px auto;
  text-align: center;

}

.box {
  padding: 2%;
  height: 450px;
  width: 25%;
  border-radius: 63px;
  background-color: #94A05E;


}

@media (max-width: 320px) {
  .abt_title {
    padding-left: 0%;
  }

  .nav.nav-bg {
    flex-direction: row;
    justify-content: space-between;
  }

  nav ul.show {
    left: 0;
    top: 4.8rem;
  }

  .i.materials-icon-outlined {
    justify-content: flex-end;

  }
  #textInput{
    width: 101% ;
    margin: 0px auto ;
    height: 7px;
    padding: 32px;
  }
  #send {
    margin-top: 12%;
    margin-left: 216px;
  }
}



@media (max-width: 375px) {
  .abt_title {
    padding-left: 0%;
  }

  .nav.nav-bg {
    flex-direction: row;
    justify-content: space-between;
  }

  nav ul.show {
    left: 0;
    top: 4.8rem;
  }

  .i.materials-icon-outlined {
    justify-content: flex-end;

  }
  #textInput{
    width: 101% !important;
    margin: 0px auto !important;
    height: 7px;
    padding: 32px;
  }
  #send {
    margin-top: 12%;
    margin-left: 216px;
  }
}

/* Responsive design nav and banner */
@media (max-width: 1048px) {
  label.logo {
    font-size: 30px;
    margin-left: -6rem;
  }

  nav ul {
    margin-right: 18px;
  }

  nav a {
    font-size: 15px;
  }

  /* #send {
    padding-left: 677px;
  } */

}




@media (max-width: 813px) {
  nav #icon {
    display: block;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(19, 110, 19);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  .log_btns li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav a {
    font-size: 25px;
    font-weight: bold;
    padding: 0;
  }

  nav .login {
    font-size: 25px;
    padding: 7px 68px;
  }

  nav a:hover {
    font-size: 25px;
    border: none;
    background: none;
    padding: 0;
    color: black;
  }

  nav ul.show {
    left: 0;
    top: 3.8rem;
  }

  h1.title {
    color: white;
    font-size: 3rem;
    font-weight: 700;
    padding-left: 7%;
    padding-top: 8rem;
    line-height: 1;
  }

  h2.subtitle {
    color: white;
    font-size: 3rem;
    font-weight: 700;
    padding-left: 7%;
    padding-top: 8rem;
    line-height: 1;
  }

  .homepage {
    height: 48rem;
    position: sticky;
    top: 0;
  }

  .wrapper {
    height: 200vh;
  }

  .about {
    margin-top: -100vh;
    position: relative;
  }

  #send {
    margin-left: 600px;
  }
}

@media  (max-width: 600px) {

  /* Add styles for mobile view here */
  /* Make the width of all elements 100% */
  /* For example: */
  body {
    width: 100%;
  }

  /* #textInput{

  } */

  nav {
    width: 100%;
    justify-content: center;
  }

  /* You can also add styles for specific elements, like the navbar */
  nav .log_btns {
    display: none;
    /* hide the login buttons on mobile view */
  }

  nav ul.show{
    top: 4.8rem;
  }
}


@media (max-width: 345px) {
  nav #icon {
    margin-right: 3%;
  }

  label.logo {
    padding-left: 3%;
  }

  label.logo {
    padding: 0 5%;
  }
}


body.chatbot {
  background-image: url('../images/bg2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.chatbot-interface {
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin-top: 30px;
}


/* chat window 1 */
.chat-window {
  width: 332px;
  height: 280px;
  border-radius: 10px;
  background-color: #fff;
  padding: 16px;
  z-index: 9999999;
  position: fixed;
  bottom: 120px;
  right: 54px;
  display: none;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 6px, rgb(0 0 0 / 20%) 0px 2px 24px;
}

#chat_window1 {
  position: relative;
  margin: 0px auto;
  bottom: -123px;
  width: 500px;
  height: 500px;
  overflow: auto;
}



#textInputDiv {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: white; */
  padding: 10px;
  /* border-top: 1px solid #ccc; */
  z-index: 1;
}

.chat-input {
  position: fixed;
  /* Make the element fixed */
  bottom: 0;
  /* Position it at the bottom */
  left: 0;
  /* Position it at the left */
  right: 0;
  /* Make it span the full width */
  width: 100%;
  /* Make it span the full width */
  height: 50px;
  /* Set the height */
  background-color: white;
  /* Set the background color */
  border: none;
  /* Remove the border */
  outline: none;
  /* Remove the outline */
  padding: 10px;
  /* Add some padding */
}

.yo {
  float: left;
  /* Aligns the message to the left */
}

.yo .res {
  margin-top: 5px;
  margin-bottom: 1rem;
  margin: 10px;
  max-width: 300px;
  min-width: 50px;
  background: #F8F1BA;
  color: #1F3F25;
  padding: 10px 20px;
  border-radius: 30px 30px 30px 0;
  word-wrap: break-word;
}

.yo .timestamp {
  font-size: 10px;
  margin-left: 5%;
}


/* chat window 2 */

.first-chat {
  /* align-items: flex-end; */
  margin-bottom: 20px;
  float: right;
  padding-left: 56rem;
}

.first-chat p {
  background: #1F3F25;
  margin: 10px;
  max-width: 300px;
  min-width: 200px;
  color: #F8F1BA;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 30px 30px 0 30px;
  word-wrap: break-word;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #cb9d23;
}

input:focus+.slider {
  box-shadow: 0 0 1px #cb9d23;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#toggle p {
  display: inline-block;
  margin: 0 20px;
  font-weight: 700;
  font-size: 16px;
  color: whitesmoke;
}


.weatherbox {
  display: inline-flex;
  flex: 0 0 auto;
  margin-left: 20px;
  border: 2px solid #cb9d23;
  padding: 10px;
  flex-direction: row;
  align-items: center;
  border-radius: 25px;
}

.weatherbox img {
  /* size: 10%; */
  width: 50px;
}

.card {
  background-color: #265630;
}

.card-body {
  text-align: center;
}

#send {
  width: 7%;
  position: relative;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #1F3F25;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  z-index: 1;
  margin-left: 818px;
  top: 9px;
}

.urdu {
  font-family: "urdufont", sans-serif;
}


.microphone {
  width: 2%;
  margin-left: 426px;
  z-index: 1;
  position: fixed;
  padding-top: 13px;
}

@media (max-width: 1040px) {
  .microphone {
    width: 2%;
    margin-left: 273px;
    margin-top: -37px;
  }

  #send {
    width: 73px;
    position: absolute;
    height: 42px;
    margin-left: 684px;
    top: -25px;
  }
}

.microphone:hover {
  transform: scale(1.2);
}
@media (max-width: 1080px) {
  .microphone {
    width: 2%;
    margin-left: 273px;
    margin-top: -37px;
  }
  
  #textInput {
    width: 48%;
    padding-left: 38px;
    padding-right: 75px;
    margin: 110px auto;
    border-radius: 10px;
  }

  #send {
    width: 73px;
    position: absolute;
    height: 42px;
    margin-left: 684px;
    top: -25px;
  }
}

@media (max-width: 1366px) {
  .microphone {
    margin-left: 426px;
  }

  #send {
    margin-left: 57% !important;
    margin-top: 3% !important;
  }  
  #recordButton{
    margin-left: 8%;
    border: none;
    background: none;
    }
  #recordButton img{
    width: 36px !important;
    background: #1f3f25 /*!important;*/
    border-radius: 40% !important;
    border: none !important;
    /* margin-left: 887%;
    margin-bottom: -37%; */
    position: relative;
}
}

@media (max-width: 1440px) {
  #textInput {
    width: 34%;
  }

  .microphone {
    margin-left: 459px;
  }

  #send {
    margin-left: 62%;
    margin-top: 3%;
  }
}
/* #recordIcon{
  width: 36px !important;
  background: #1f3f25 !important;
  border-radius: 40% !important;
  border: none !important;
} */
@media (max-width: 1024px) {
  .microphone {
    margin-left: 267px;
  }

  #send {
    margin-left: 210px !important;
    top: -11px;
  }

 #recordButton{
  margin-bottom: 17%;
  position: relative;
  margin-left: 8%;
  border: none;
  background: none;
  }

  #recordButton img{
      width: 36px !important;
      background: #1f3f25 /*!important;*/
      border-radius: 40% !important;
      border: none !important;
  }
}

.first-chat .arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #1F3F25;
  transform: rotate(180deg);
  margin-right: -10px;
}

.second-chat {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.second-chat p {
  background: #F8F1BA;
  color: #1F3F25;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 30px 30px 30px 0;
}

.second-chat .arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #F8F1BA;
  margin-left: -10px;
}

#chat-window1 {
  position: fixed;
  bottom: 0;
}

#sendBtn {
  position: fixed;
  bottom: 0;
  right: 0;
}

#messageBox {
  height: calc(100% - 130px);
  /* Adjust the value as needed */
  overflow-y: scroll;
}

#textInput {
  border-top: 1px solid green;
  top: auto;
  position: absolute;
  bottom: 0;
  width: 36%;
  height: auto;
  overflow: auto;
  padding-left: 33px;
  padding-right: 111px;
  margin: 0px auto;
}


/* //MOBILE RESPONSIVE */
@media (max-width: 480px) {
  #chat_window1 {
    margin: 0px auto;
    bottom: -123px;
    width: 333px;
    height: 500px;
  }

  #textInput {
    width: 74% !important;
    margin: 57px auto !important;
    height: 70px;
    padding: 31px;
  }

  .microphone {
    width: 10%;
    margin-top: -410px;
    position: relative;
    margin-left: 0px;
  }


  #send {
    margin-top: 12%;
    margin-left: 56%;
  }
  @media (max-width: 390px){
  #send{
    margin-left: 54% !important;
    margin-top: 7% !important;
    top: -17% !important;
  }
  }

  body.chatbot {
    background-color: wheat !important;
  }

  .nav-bg {
    width: 100% !important;
    justify-content: center;
  }

  .abt_title {
    font-size: 36px;
    padding-left: 0;
    padding-top: 8rem;
    line-height: 3;
  }

  .about img {
    width: 83%;
  }

  .about p {
    font-size: 23px;
    width: 83%;
  }

  .contact-us-tiles {
    flex-direction: column;
    align-items: center;
  }

  .box {
    padding: 6%;
    height: 250px;
    padding-bottom: 81%;
    width: 250px;
    border-radius: 35px;
  }

  .contact_us h3 {
    font-size: 25px;
    position: relative;
    padding-bottom: 10%;
    text-align: center;
  }

  .title {
    text-align: center;
    margin-right: 178px;
  }

  h2.subtitle {
    font-size: 3rem;
    padding-left: 7%;
    padding-top: 3rem;
    text-align: center;
  }

  h1.title {
    padding-left: 0%;
  }

  .home-title {
    padding-left: 23% !important;
  }

  .login-page-bg {
    width: min-content;
  }

  .base-nav {
    width: 100% !important;
  }
}


@media (max-width: 1040px) {
  #textInput {
    width: 80% !important;
    padding-left: 37px;
    padding-right: 74px;
    margin: 110px auto;
    border-radius: 10px;
  }
}

/* RESPONSIVE */
@media screen and (max-width: 396px) {
  .chat-window {
    right: 14px;
    bottom: 87px;
  }

  .hi-there {
    padding: 12px 30px;
  }

  .chat-window2 {
    right: 14px;
    bottom: 87px;
    height: 420px;
  }

  .chat-bar-open {
    bottom: 20px;
    right: 21px;
  }

  .chat-bar-close {
    bottom: 21px;
    right: 25px;
  }

  .message-box .second-chat .arrow {
    margin-left: 41px;
  }
}