<!DOCTYPE html>
<html lang="en">



{% block content %}

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <!-- Bootstrap JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

  <link rel="Tab icon" href="{{ url_for('static', filename='images/tab_icon.png') }}" type="image/png" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />
  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/chat.js') }}"></script>

  <title>KisaanDost</title>
</head>

<body>
  <!-- Navbar -->
  <nav class="nav-bg">
    <img src="{{ url_for('static', filename='images/notextlogo.png') }}" />
    <label class="logo"><a href="/">KisaanDost <span class="sr-only">(current)</span></a></label>

    <ul id="myDIV">
      <li><a href="/chatbot">Chatbot</a></li>
      <li><a href="#abt">About us</a></li>
      <li><a href="#cntus">Contact Us</a></li>




      {% if 'is_logged_in' in session and session['is_logged_in'] %}
      <li><a class="translatable" href="/logout">Signout</a></li>
      <p id='status1' style=" color:whitesmoke">Hello {{ email }}!</p>
      {% else %}
      <li><a class="translatable" href="/login">Login</a></li>
      <li><a href="/logout">Signup</a></li>
      {% endif %}
    </ul>



    <label id="icon" onclick="myFunction()">
      <i class="material-icons-outlined">menu</i>
    </label>
  </nav>


  <!-- homepage title and banner-->
  <div class="wrapper">
    <section class="homepage">
      <pre><h1 data-urdu="سوال
         پوچھیں" class="title">Sawaal 
        Poochiye</h1></pre>
      <div id="toggle">
        <p>English</p>
        <label class="switch">
          <input type="checkbox" id="language-toggle" unchecked>
          <span class="slider round"></span>
        </label>
        <p>اردو</p>
      </div>
      <script>
        document.getElementById("language-toggle").addEventListener("click", function () {
          // Check if the toggle button is checked
          if (document.getElementById("language-toggle").checked) {
            // If it is checked, redirect the user to the Urdu version of the page
            window.location.href = "/logged_inU";
          } else {
            // If it is not checked, redirect the user back to the English version of the page
            window.location.href = "/logged_in";
          }
        });

      </script>



      <div class="card weatherbox">
        <div class="card-body">
          <p style="color: whitesmoke">{{ city }}</p>
          <img src="{{ url_for('static', filename='images/cloud.png') }}" />
          <p style="color: whitesmoke">{{ weather }}</p>
        </div>
      </div>

      <h2 class="subtitle">
        Apna masla hal karein!
      </h2>

    </section>
  </div>
  <section class="about" id="abt">
    <h1 class="abt_title">About Kisaan<span style="color: #1F3F25">Dost</span></h1>
    <img src="{{ url_for('static', filename='images/images row.png') }}" />

    <p class="yo">
      <b>KisaanDost</b> is a project solely created to facilitate farmers, where they can get answers to their queries
      as per the latest farming approaches and trends. The idea is to provide an encrypted live <b>chatbot</b> so
      farmers can type in or speak out their questions and get immediate responses that are proven to be accurate by
      <b>AI models</b>.

      The responses will be in the language (<b>English/Urdu</b>), preselected by the farmer, and will be based on
      factual information. As speech is a natural medium for communication, the idea of a voice-powered chat will allow
      easy querying of useful information. KisaanDost would help to enable many farmers to ask their questions and get
      answers in our local language. A chatbot of this nature that answers open-ended questions will be the <b>first of
        its kind in Pakistan.</b>

      Moreover, our system would suggest to them some new techniques like using drones for irrigating the crops which
      would definitely increase the production to a greater extent.

    </p>
  </section>

  <section class="contact_us" id="cntus">
    <h1 class="abt_title">Contact Us</h1>

    <div class="d-flex justify-content-around contact-us-tiles">
      <div class="box">
        <img src="{{ url_for('static', filename='images/rizvi.jpg') }}" />
        <h3> Asad Rizvi
          i191778@nu.edu.pk
        </h3>
      </div>
      <div class="box">
        <img src="{{ url_for('static', filename='images/danny.jpg') }}" />
        <h3> Danial Nasir
          i191861@nu.edu.pk
        </h3>
      </div>
      <div class="box">
        <img src="{{ url_for('static', filename='images/asfand.jpeg') }}" />
        <h3> Asfand Ali
          i191656@nu.edu.pk
        </h3>
      </div>
    </div>
  </section>


</body>
{% endblock%}

</html>